{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}

    <section class="page-section bg-dark text-white mb-0" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Bolsos y mochilas</h2>
            <h3 class="subtitle-category section-subheading">Revisa nuestra variedad de bolsos, mochilas y estuches disponibles :)</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Producto 1 -->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'app/assets/img/portfolio/bolsos_mochilas/bolsito_conejo.JPEG' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Bolso conejito</div>
                        <div class="portfolio-caption-subheading text-muted">$2.990 c/u</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Producto 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'app/assets/img/portfolio/bolsos_mochilas/bolso_gatito1.JPEG' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Bolso Gatito</div>
                        <div class="portfolio-caption-subheading text-muted">$2.490 c/u</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Producto 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'app/assets/img/portfolio/bolsos_mochilas/estuche_gato1.JPEG' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Estuche Gato Squishy</div>
                        <div class="portfolio-caption-subheading text-muted">$3.990 c/u</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Producto 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'app/assets/img/portfolio/bolsos_mochilas/estuche_transparente.JPEG' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Estuche Transparente</div>
                        <div class="portfolio-caption-subheading text-muted">$2.990 c/u</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Producto 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{%static 'app/assets/img/portfolio/bolsos_mochilas/lonchera1.JPEG' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Lonchera cute</div>
                        <div class="portfolio-caption-subheading text-muted">$4.990 c/u</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Producto 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'app/assets/img/portfolio/bolsos_mochilas/mochila_negra.JPEG' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Mochila Coreana</div>
                        <div class="portfolio-caption-subheading text-muted">$5.990 c/u</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section> 
    <!-- Modals de Productos-->
    <!-- Modal popup Producto 1-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'app/assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Detalles producto -->
                                <h2 class="text-uppercase">Bolso Conejito</h2>
                                <p class="item-intro text-muted">Mini bolsito diseño conejo.</p>
                                <img class="img-fluid d-block mx-auto" src="{% static 'app/assets/img/portfolio/bolsos_mochilas/bolsito_conejo.JPEG' %}" alt="..." />
                                <p>Mini bolsito de 20cm de alto con hermoso diseño de conejito. Apto para artículos pequeños como llaves, makeup y celulares.</p>
                                <ul class="list-inline">
                                    <li>
                                        <strong>Colores:</strong>
                                        Rosa
                                    </li>
                                    <li>
                                        <strong>PRECIO:</strong>
                                        $2.990 C/U
                                    </li>
                                </ul>
                                <button class="btn btn-outline-light btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Añade al carrito
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal popup Producto 2-->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'app/assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Detalles producto -->
                                <h2 class="text-uppercase">Bolso Gatito</h2>
                                <p class="item-intro text-muted">Mini bolsito diseño gato.</p>
                                <div id="carouselExample" class="carousel slide">
                                    <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{% static 'app/assets/img/portfolio/bolsos_mochilas/bolso_gatito1.JPEG' %}" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'app/assets/img/portfolio/bolsos_mochilas/bolso_gatito2.JPEG' %}" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'app/assets/img/portfolio/bolsos_mochilas/bolso_gatito3.JPEG' %}" class="d-block w-100" alt="...">
                                    </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                <p>Mini bolsito de 20cm de diámetro con hermoso diseño de gatito. Apto para artículos pequeños como llaves, makeup y celulares. Distintos colores disponibles.</p>
                                <ul class="list-inline">
                                    <li>
                                        <strong>Colores:</strong>
                                        Rosa, Negro, Violeta
                                    </li>
                                    <li>
                                        <strong>PRECIO:</strong>
                                        $2.490 C/U
                                    </li>
                                </ul>
                                <button class="btn btn-outline-light btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Añade al carrito
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal popup Producto 3-->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'app/assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Detalles producto -->
                                <h2 class="text-uppercase">Estuche Gato Squishy</h2>
                                <p class="item-intro text-muted">Estuche diseño gato con squishy.</p>
                                <div id="carouselExample1" class="carousel slide">
                                    <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{% static 'app/assets/img/portfolio/bolsos_mochilas/estuche_gato1.JPEG' %}" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'app/assets/img/portfolio/bolsos_mochilas/estuche_gato2.JPEG' %}" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'app/assets/img/portfolio/bolsos_mochilas/estuche_gato3.JPEG' %}" class="d-block w-100" alt="...">
                                    </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                <p>Precioso estuche de 3 capas con diseño gatito y squishy antiestrés. Espacioso, apto para todo tipo de lápices y accesorios de papelería en general.</p>
                                <ul class="list-inline">
                                    <li>
                                        <strong>Colores:</strong>
                                        Rosa
                                    </li>
                                    <li>
                                        <strong>PRECIO:</strong>
                                        $3.990 C/U
                                    </li>
                                </ul>
                                <button class="btn btn-outline-light btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Añade al carrito
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal popup Producto 4-->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'app/assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Detalles producto -->
                                <h2 class="text-uppercase">Estuche Transparente</h2>
                                <p class="item-intro text-muted">Estuche transparente diseño cute.</p>
                                <img class="img-fluid d-block mx-auto" src="{% static 'app/assets/img/portfolio/bolsos_mochilas/estuche_transparente.JPEG' %}" alt="..." />
                                <p>Estuche transparente con tonalidades rosa. Compacto y ligero. Diferentes diseños disponibles.</p>
                                <ul class="list-inline">
                                    <li>
                                        <strong>Diseños:</strong>
                                        Ositos, Cabra/conejo, Gato/ratón, Conejo/oveja
                                    </li>
                                    <li>
                                        <strong>PRECIO:</strong>
                                        $2.990 C/U
                                    </li>
                                </ul>
                                <button class="btn btn-outline-light btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Añade al carrito
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal popup Producto 5-->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'app/assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Detalles producto -->
                                <h2 class="text-uppercase">Lonchera cute</h2>
                                <p class="item-intro text-muted">Lonchera térmica diseño cute.</p>
                                <div id="carouselExample2" class="carousel slide">
                                    <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{% static 'app/assets/img/portfolio/bolsos_mochilas/lonchera1.JPEG' %}" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'app/assets/img/portfolio/bolsos_mochilas/lonchera2.JPEG' %}" class="d-block w-100" alt="...">
                                    </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                <p>Lonchera térmica con hermoso diseño frontal. Mantiene tus alimentos frescos y/o calientes por más tiempo. Dos diseños y colores disponibles.</p>
                                <ul class="list-inline">
                                    <li>
                                        <strong>Colores:</strong>
                                        Azul (Gato), Rosa (Conejo)
                                    </li>
                                    <li>
                                        <strong>PRECIO:</strong>
                                        $4.990 C/U
                                    </li>
                                </ul>
                                <button class="btn btn-outline-light btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Añade al carrito
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal popup Producto 6-->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'app/assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Detalles producto -->
                                <h2 class="text-uppercase">Mochila Coreana</h2>
                                <p class="item-intro text-muted">Mini mochila diseño coreno.</p>
                                <div id="carouselExample3" class="carousel slide">
                                    <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{% static 'app/assets/img/portfolio/bolsos_mochilas/mochila_negra.JPEG' %}" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
    <!-- Suggested code may be subject to a license. Learn more: ~LicenseLog:928834345. -->
                                        <img src="{% static 'app/assets/img/portfolio/bolsos_mochilas/mochila_rosa.PNG' %}" class="d-block w-100" alt="...">
                                    </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample3" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample3" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                <p>Mini mochila con hermoso diseño típico coreano. Apto para artículos pequeños como llaves, makeup y celulares. Dos colores disponibles.</p>
                                <ul class="list-inline">
                                    <li>
                                        <strong>Colores:</strong>
                                        Negro, Rosa
                                    </li>
                                    <li>
                                        <strong>PRECIO:</strong>
                                        $5.990 C/U
                                    </li>
                                </ul>
                                <button class="btn btn-outline-light btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Añade al carrito
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}